Repository haddocking/arctic3d, pull requests merged in 2024-05, with the labels that each got.

#423 remove logic to skip download
  src/arctic3d/modules/pdb.py
Labels: bug

#419 Refactor tests that depend on API calls
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  pytest.ini
  src/arctic3d/functions.py
  src/arctic3d/modules/pdb.py
  tests/conftest.py
  tests/golden_data/1ej8-A.pdb
  tests/golden_data/1ej8_updated.cif
  tests/golden_data/1jk9-B.pdb
  tests/golden_data/1jk9-D.pdb
  tests/golden_data/1jk9_updated.cif
  tests/golden_data/1qup-A.pdb
  tests/golden_data/1qup-B.pdb
  tests/golden_data/1qup_updated.cif
  tests/golden_data/5u9m-B.pdb
  tests/golden_data/5u9m-D.pdb
  tests/golden_data/5u9m_updated.cif
  tests/golden_data/bestpdb.json
  tests/golden_data/ligand.json
  tests/golden_data/uniprot.json
  tests/test_apis.py
  tests/test_cli.py
  tests/test_cli_localise.py
  tests/test_cli_resclust.py
  tests/test_cli_restraints.py
  tests/test_interface.py
  tests/test_pdb.py
Labels: tests

#426 remove consistency check from sanity tests
  poetry.lock
  tests/conftest.py
  tests/golden_data/bestpdb.json
  tests/golden_data/ligand.json
  tests/golden_data/uniprot.json
  tests/test_apis.py
Labels: tests

#424 removed defusedxml
  pyproject.toml
  src/arctic3d/modules/blast.py
  tests/golden_data/1crn.fasta
  tests/golden_data/blast.xml
  tests/test_blast.py
Labels: tests, dependencies

#428 move urls to dedicated module
  src/arctic3d/cli_localise.py
  src/arctic3d/modules/interface.py
  src/arctic3d/modules/pdb.py
  src/arctic3d/modules/url.py
  tests/test_apis.py
Labels: refactor
